<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="keywords" content="BPMN"/>
    <meta name="description" content="BPMN"/>
    <meta name="author" content="小柒2012" />
    <meta name="site" content="https://blog.52itstyle.vip" />
    <title>BPMN</title>
    <link rel="stylesheet" th:href="@{/iview/styles/iview.css}">
    <script th:src="@{/libs/jquery-3.2.1.min.js}" type="text/javascript"></script>
	<script th:src="@{/libs/vue.min.js}" type="text/javascript"></script>
	<script th:src="@{/layer/layer.js}" type="text/javascript"></script>
	<script th:src="@{/iview/iview.min.js}" type="text/javascript"></script>
	<script th:src="@{/common.js}" type="text/javascript"></script>
</head>
<body>
<div   id="app"  v-cloak style="margin: 10px">
			<div style="margin-bottom: 6px">
				<i-input  placeholder="输入要查询的关键字" vm-model="bpmn.content" style="width: 300px"></i-input>
				<i-button type="primary" icon="ios-search" >搜索</i-button>
				<i-button type="primary"  icon="md-refresh" >重置</i-button>
				<i-button style="float: right;" type="primary"  @click="add()" icon="md-add" >新增</i-button>
			</div>
			<template> 
			<i-table   :content="self"  :columns="tableTitle"  :data="bpmnData"></i-table>
		 	<br>
			<Page style="float: right;"  :current="bpmn.pageNo"  :total="tableSize" :page-size="bpmn.pageSize"  @on-change="changePage" @on-page-size-change="changePageSize" show-elevator show-sizer show-total></Page> 
		</template>
</div>
<script th:src="@{/localstorage/jquery.utils.js}"></script>
<script th:src="@{/localstorage/localstorage.js}"></script>
<script>
	$(function () {	
		var vm = new Vue({
			el: '#app',
			data:{
				tableTitle : [ {
                    type: 'index',
                    title : "序号",
                }, 
				{
					key : "modelName",
					title : "名称",
				},{
					key : "username",
					title : "创建人",
				},{
					key : "gmtCreate",
					title : "创建时间",
				},{
			    	title : '操作',
			    	key : 'action',
			    	width : 300,
			    	align : 'center',
			    	render : function(h, params) {
			    		var functionList = [];
						var edit = h('Button', {
							props : {
								type : 'primary',
								size : 'small',
							},
							style : {
								marginRight : '8px'
							},
							on : {
								click : function() {
									vm.edit(params.row);
								}
							}
						}, '修改');
						functionList.push(edit);
						var show = h('Button', {
							props : {
								type : 'primary',
								size : 'small',
							},
							style : {
								marginRight : '8px'
							},
							on : {
								click : function() {
									vm.show(params.row.bpmnImage);
								}
							}
						}, '查看');
						functionList.push(show);
						var remove = h('Button', {
							props : {
								type : 'primary',
								size : 'small',
							},
							style : {
								marginRight : '8px'
							},
							on : {
								click : function() {
									vm.remove(params.row.id);
								}
							}
						}, '删除');
						functionList.push(remove);
							var upload = h('Button', {
							props : {
								type : 'primary',
								size : 'small',
							},
							style : {
								marginRight : '8px'
							},
							on : {
								click : function() {
									vm.upload(params.row.id);
								}
							}
						}, '附件上传');
						functionList.push(upload);
			    		return h('div',{
			    		   
			    	    }, functionList);
			    	}
			    }],
				bpmnData:[],
				bpmn : {
					pageSize : 10,
					pageNo : 1,
					content :''
				},
				tableSize : 50,
			},
			methods: {
				load:function(){
					$.SetForm({
						url :  "/bpmn/list",
						param : this.bpmn,
						success : function(result) {
							vm.tableSize = result.totalCount;
							vm.bpmnData = result.pageData;
						}
					});
				},
				changePage:function(){
					
				},
				changePageSize:function(){
					
				},
				add:function(){
					$('.sidebar-menu', parent.document).find("li[data-src='bpmn/add.shtml']").trigger("click");
				},
				edit:function(model){
					 bpmn.LocalStorage.set({
	   	    		 		key : "bpmnId",
	   	    		  		value : model.id,
	   	    		});
					bpmn.LocalStorage.set({
	   	    		 		key : "bpmnName",
	   	    		  		value : model.modelName,
	   	    		});
					var  objs = parent.document.getElementsByTagName("iframe");
					$(objs).attr("src", "bpmn/add.shtml");
					window.parent.location.hash = "bpmn/add.shtml";
				},
				show:function(bpmnImage){
				     dialogOpen({
						title: '流程图',
						content : "<img  style='width: auto;height: auto; max-width: 100%; max-height: 100%;' src="+bpmnImage+"  > ",
						scroll : true,
						width: '90%',
						height: '90%',
						btn:[],
						yes : function(iframeId) {
							
						},
					});
				},
				remove:function(id){
				    top.layer.confirm('确认要删除吗？', {
						  btn: ['确认','取消'] //按钮
						}, function(){
						     	$.SetForm({
									url :  "/bpmn/remove",
									param : {id:id},
									json:true,
									success : function(result) {
										 vm.load();
									}
								});
						});
				},
				upload: function(){
				  		dialogOpen({
						title: "上传附件",
						url: "bpmn/upload.shtml",
						scroll : true,
						width:  "80%",
						height:  "80%",
						yes : function(iframeId) {
						     //top.frames[iframeId].vm.acceptClick();
						},
					});  
				}
			},
			created: function(){
				this.load();
			}
		});						
	});
</script>
</body>
</html>