# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\学习\资料-最新工作流引擎Activiti7基础与进阶\actSpringBoot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
